body{
    background-color: #4DA1A7;
    padding: 0;
    margin: 0;
}
.endbuttons:hover{
    background-color: #4DA1A7;
}
#swaper:hover{
    background-color: #4DA1A7;
}
#swaper{
    font-family: 'Titan One', cursive;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: #2B5E62;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}
#swap{
    font-weight: 100;
    font-style: normal;
    font-family: 'Titan One';
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#secondbar{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#topbar{
    color: white;
    font-family: 'Titan One';
    margin-top: 25px;
    width: 100%;
    height: 50px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#topbar h1{
    border-radius: 20px; ;
    padding: 15px 80px;
    background-color: #2B5E62;

}
#guess{
    text-align: center;
    padding: 0px;
    height: 1vw;
    width: 80%;
    top: 95vw;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}
#gamecont{
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.endbuttons{
    background-color: #2B5E62;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Titan One', cursive;
}
.hidden{
    display: none;
}
#endbuttoncont{
    position: absolute;
}
#gamedraw{
    overflow: visible;
    border-radius: 30px;
    background-color: #2B5E62;
    height: 100vh;
    width: 100%;
    display: flex;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
#game{
    height: 92.5%;
    width: 95%;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
#homebutton{
    cursor: pointer;
    position: absolute;
    top:25px;
    left: 15px;
}