#Start{
    width: 100%;
    height: 100%;
    background-color: #397377;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    color: white;
    font-size: 50px;
    text-align: center;
    left: 0;
    z-index: 100;

}
#Start h1{
    font-family: 'Titan One', cursive;
}
#Start p {
    font-family: 'Titan One', cursive;
    font-size: 20px;
}
body{
    margin: 0;
    padding: 0;
    background-color: #4da1a7;
}
#game{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#game h1{
    font-family: 'Titan One', cursive;
    font-size: 50px;
    color: white;

}
#endscreen{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #397377;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: 'Roboto', sans-serif;
    left: 0;
    top: 0;
}
#endcard button{
    margin: 10px;
    padding : 10px;
    background-color: #397377;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#endcard{
    width: 40%;
    height: 40%;
    background-color: #4da1a7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.itemlist{
    list-style: none;
    transition: ease-out 0.2s;
    height: fit-content;
}

.itemlist li:hover{
    background-color: #FFFAFA;
    scale: 1.01;
    color: #397377;
    cursor: pointer;

}
.itemlist li{
    animation: 0.7s ease-out/*cubic-bezier(.7,-0.39,.61,1.04)*/;
    background-color: #397377;
    width: 40vw;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    user-select: none;
    color: #FFFAFA;
    transition: ease-out 0.3s;
    overflow-wrap: break-word;
    z-index: 1;
}
#termcont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 10%;
}


#timer{
/*    top right*/
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    margin: 10px;
    padding: 10px;
    background-color: #397377;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
    transition: ease-out 0.3s;
}

#timer:hover {
    scale: 1.05;
}

#timebar {
    width: 100%;
    height: 100%;
    background-color: #397377;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    cursor: pointer;
}

#timebar:hover {
    background-color: white;
    color: #397377;
}

.selected {
    scale: 1.07 !important;
    transition: ease-out 0.3s;
    /*border: #9cd6de inset 1px !important;*/


}


@keyframes fazeOut {
    0% {
        opacity: 1;
        scale: 1.07;
    }
    100% {
        opacity: 0;
        scale: 2;
    }
}



@keyframes disappearAnim {

}
@keyframes shakeError {
    0% {
        transform: translateX(0);
        background-color: #d96363;
        color: white;
    }
    15% {
        transform: translateX(10px);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(0);
        background-color: #d96363;
        color: white;
    }
    100% {
        transform: translateX(0);
        background-color: #397377;
        color: white;
    }

}
/*
@keyframes bounceScaleOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }

}*/
