body {
    background-color: #4DA1A7;
    margin:0;
    padding: 0;
}
#HomeImgSmall {
    bottom: 300px;
    position: absolute;
}
#HomeImgBig{
    bottom: 388px;
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translate(-30%, 50% );
    -webkit-transform: translate(-30%, 50% );
    -moz-transform: translate(-30%, 50% );
    -ms-transform: translate(-30%, 50% );
    -o-transform: translate(-30%, 50% );
}
#home {
    position: absolute;
    padding: 20px;
}
#createSet{
    margin-top: 8%;
    width: 90%;
    border: none;
    background-color: #4DA1A7;
    padding: 10px 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Titan One', cursive;
    transition: 0.3s;
}
#createSet:hover{
    background-color: white;
    scale: 1.1;
    color: #4DA1A7;
}

#SearchContainer{

    position: relative;
    width: 40%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#SearchImg{
    height:40%;
    position: absolute;
    z-index: 3;
    left: 8%;
}
#SearchBar{
    text-indent: 12%;
    background-color: #31858B;
    position: relative;
    float: right;
    width: 80%;
    height:40%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 10px;
    padding: 20px 20px 20px 10px;
    font-size: 20px;
    font-family: 'Titan One', cursive;
    color: white;
    transition: 0.1s;
    border: 0 solid #4DA1A7;
}
#SearchBar:hover{
    border: 1px solid #4DA1A7;
}
#SearchBar:focus{
    outline: none;
    border: 3px solid #4DA1A7;

}
#TermsDefs{
    overflow-y: scroll;
    padding-top: 20%;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#TermList{
    list-style: none;
}
#DefList{
    list-style: none;
}
#TermList li{
    margin: 20px;
    width: 40%;
    border-radius: 8px;
    background-color: #397377;
    padding: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#DefList li{
    margin: 20px;
    width: 40%;
    border-radius: 8px;
    background-color: #397377;
    padding: 20px;
}
#topBar{
    position: absolute;
    width: 100%;
    height: 15%;
    left:0;
    right: 0;
    background-color: #397377;
    padding: 0;
}
#OpenIn{
    cursor: pointer;
}
#rightBar{
    position: absolute;
    width: 15%;
    height: 85%;
    right: 85%;
    top: 15%;
    background-color: #31858B;
}
#SetInfo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    padding: 0;

}
#Center{
    width: 85%;
    height: 85%;
    position: absolute;
    left: 15%;
    top: 15%;
    color: white;
    font-family: 'Titan One', cursive;
    background-color: #4DA1A7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#SetList{
    padding: 0;
    margin-right: 1vw;
    width: 100%;
    list-style: none;
    overflow-y: scroll;

 }
 .set:hover{
    background-color: #397377;
    color: white;
    cursor: pointer;
     scale: 1.1;
 }
.set{
    font-family: 'Titan One', cursive;
    text-align: center;
    padding: 10px;
    margin-top: 0.5vh;
    background-color: #4DA1A7;
    user-select: none;
    width: 75%;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    transition: 0.3s;
    border-radius: 10px;
}