body {
    background-color: #4DA1A7;
    margin:0;
    padding: 0;
}
#HomeImgSmall {
    bottom:300;
    position: absolute;
}
#HomeImgBig{
    bottom: 388;
    position: absolute;
    width: 50px;
    height: 50px; 
    transform: translate(-30%, 50% );
}
#home {
    position: absolute;
    padding: 20px;
}
#createSet{
    inherits: none;
    margin-left: 5%;
    margin-top: 8%;
    width: 90%;
    border: none;
    background-color: #4DA1A7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
    font-family: 'Titan One', cursive;
}
#SearchContainer{

    position: relative;
    width: 40%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#SearchImg{
    height:40%;
    position: absolute;
    z-index: 3;
    left: 8%;
}
#SearchBar{
    text-indent: 10%;
    background-color: #31858B;
    position: relative;
    float: right;
    width: 80%;
    height:40%;
    padding: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Titan One', cursive;
}
#Topbar{
    position: absolute;
    width: 100%;
    height: 15%;
    left:0;
    right: 0;
    background-color: #397377;
    padding: 0;
}
#Rightbar{
    position: absolute;
    width: 15%;
    height: 85%;
    right: 85%;
    top: 15%;
    background-color: #31858B;
}
#Center{
    width: 85%;
    height: 85%;
    position: absolute;
    left: 15%;
    top: 15%;
    background-color: #4DA1A7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#SetList{
    padding: 0;
    margin-left: 0px;
    width: 100%;
    list-style: none;
 }
.set{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #397377;
    width: 100%;
}