body {
    background-color: #4DA1A7;
    padding: 0;
    margin: 0;
}
#title{
    font-family: 'Titan One', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
#boardContainer{
    padding-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.leaderboardItem div {
    padding: 20px;

}
.first{
    background-color: #ffd400;

}
.second{
    background-color: #dfdfdf;
}
.third{
    background-color: #cd7f32;
}
.even{
    background-color: #2f5d5d;
}
.odd {

    background-color: #397377;
}

.cheater {
    background-color: #d96363;
}

.leaderboardItem {
    border-radius: 20px;
    float: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 0.5s;
    font-family: "Titan One", cursive;

}
.leaderboardItem:hover{
    cursor: pointer;
    transform: scaleX(1.02);
}

#leaderboard {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    row-gap: 0.5vh;
}

#backToSets {
    bottom: 3vh;
    left: 3vw;
    height: 3vw;
    width: 3vw;
    background: #1c373a;
    border-radius: 100%;
    /*padding: 12px;*/
}

.button {
    border: none;
    transition: 0.3s;
    position: fixed;
    /*filter: drop-shadow( 0 0 10px rgba(255, 255, 255, 0.25)) invert(100%);*/
    fill: white;
    z-index: 1000;
    font: 1.5vh "Titan One", cursive;
    color: white;
    background-color: #1c373a;
    border-radius: 16px;
    width: fit-content;
    height: fit-content;
    padding: 12px;
    /*padding: 1vw 2.5vw;*/
}

.button:hover {
    transform: translateY(-3px);
    cursor: pointer;
}