:root {
  --buttonbackground: #397377;
  --buttoncolor: #fffafa;
  --buttonscale: 1;
}

.inputBox {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
  text-align: center;
  font: clamp(1rem, -0.875rem + 0.5vw, 2rem) "Titan One", cursive;
  transition: 0.3s filter, border;
  border: 3px solid transparent;
}
.inputBox:hover {
  filter: drop-shadow(0px 0px 5px #9cd6de);
}
.inputBox:focus {
  filter: drop-shadow(0px 0px 12px #9cd6de);
  border: 3px solid transparent;
}
.mainItems {
  position: absolute;
  left: 36vw;
  right: 38vw;
  text-align: center;
  top: 12vh;
}
.title {
  font-weight: bold;
  color: #fffafa;
  font-family: "Titan One", cursive;
  font-size: clamp(2rem, -0.875rem + 14vw, 5rem);
  transition: 0.3s;
  transition-property: color, letter-spacing;
}
/*TODO better color*/
#error {
  overflow-x: visible;
  color: red;
  font-size: 2.5rem;
  font-family: "Titan One", cursive;
  transition: 0.3s;
  transition-property: color, letter-spacing;
}
.title::selection {
  color: #397377;
}
.buttonGrid {
  /*    make a grid where one button is 4/5 while the other is 1/5 and is inline*/
  display: grid;
  grid-template-columns: 85% 15%;
  width: 27vw;
  grid-template-rows: 1vw;
  column-gap: 0.1vw;
  grid-template-areas: "loginButton registerButton";
  justify-content: center;
  align-items: center;
}

.loginButton {
  margin-top: 3vh;
  width: 26.8vw;
  height: 7vh;
  font-weight: bold;
  border-radius: 5px;
  background-color: #397377;
  color: #fffafa;
  cursor: pointer;
  transition: 0.4s;
  transition-property: background-color, color, scale;
  font: clamp(1rem, 1vw + 0.4vh, 3.5rem) "Titan One", cursive;
  scale: 1;
  border: 3px solid transparent;
}
.loginButton:hover {
  background-color: var(--buttonbackground);
  color: var(--buttoncolor);
  /*animation: shakeError 0.7s;*/
}

body {
  overflow: hidden;
  background-color: #4da1a7;
}

@keyframes shakeError {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

/*<editor-fold desc="icons">*/
.gradHat {
  position: absolute;
  left: -2.05vw;
  top: -2.93vw;
  bottom: 79.95vh;
}

.pencil {
  position: absolute;
  right: -8.29vw;
  top: -10.11vh;
  bottom: 69.85vh;
  transform: rotate(353deg);
}

.calculator {
  position: absolute;
  left: -2.77%;
  right: 76.75vw;
  /* top: 79vh; */
  bottom: -8.28vh;
}

.book {
  position: absolute;
  /* left: 64.32vw; */
  right: -7.82vw;
  /* top: 67.06vh; */
  bottom: -10.6vh;
}

/*</editor-fold>*/
