#resultscontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#searchResults{
    width: 80%;
    margin-top: 30px;
}

#searchInput{
/*    make this centered, larger, have titan one font, add a hover and focus effect as well*/
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    font-family: 'Titan One', cursive;
    color: #4DA1A7;
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
/*    centered*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#searchInput::placeholder {
    color: #4DA1A7;
    font-family: 'Titan One', cursive;
    text-align: center;
}

#searchInput:focus {
    outline: none;
}

body{
    background-color: #4DA1A7;
}

li{
/*    rounded border, centered, span across the entire page, background color #1c373a, text white*/
    text-align: center;
    width: 100%;
    background-color: #1c373a;
    color: white;
    font-family: 'Titan One', cursive;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.2s ease-out;
    list-style: none;
    border-radius: 17px;
    margin-bottom: 10px;
    min-height: 20vh;
    cursor: pointer;
    overflow: scroll;

}

li::-webkit-scrollbar {
    display: none;
}

li:nth-child(odd) {
    background-color: #285053;
}

li:hover {
    background-color: white;
    color: #1c373a;
    scale: 1.01;
}
ol{
/*    display list in rows of 3*/
    display: grid;
    grid-template-columns: repeat(3, 32.5vw);
    grid-gap: 10px;
    padding: 0;
    width: 100%;
    margin: 30px 0;
/*    center self*/

}

p{
    font-size: 18px;
}