#name{
    color: #004054;
    font-size: 6vh;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", cursive;
    transition: 0.3s;
    text-overflow: ellipsis;
}

#name:hover{
    color: #008080;
}

#description{
    color: #004054;
    font-size: 3vh;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", cursive;
    transition: 0.3s;
    text-overflow: ellipsis;
}
#description:hover{
    color: #008080;
}

.gamesGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1vw;
    margin: 5vh 5vw;
}

.game{
/*    rectangle card longer in length than width contains Title and Description. Play button is a circle in bottom right*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.5fr;
    background-color: #008080;
    border-radius: 10px;
    padding: 1vw 2.5vw;
    transition: 0.3s;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
}

.game:hover{
    /*background-color: #004054;*/
    transform: translateY(-3px);
}

.gameName{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: #FFFAFA;
    font-size: 3vh;
    /*font-weight: bold;*/
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", cursive;
    transition: 0.3s;
    text-overflow: ellipsis;
}

.gameDescription{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: #FFFAFA;
    font-size: 1.5vh;
    /*font-weight: bold;*/
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", cursive;
    transition: 0.3s;
    text-overflow: ellipsis;
}

.gameButton{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    color: #FFFAFA;
    font-size: 1.5vh;
    /*font-weight: bold;*/
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", cursive;
    text-overflow: ellipsis;
    background-color: #004054;
    border-radius: 10px;
    padding: 1vw 2.5vw;
    transition: 0.3s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.gameButton:hover{
    background-color: #FFFAFA;
    color: #004054;
    transform: scaleX(1.05);
}

body{
    background-color: #4DA1A7;
}

#backButton{
/*    bottom left, small circle*/
    position: fixed;
    bottom: 3vh;
    left: 3vw;
    background-color: #EFBEAA;
    border-radius: 50%;
    /*padding: 1vw 2.5vw;*/
    width: 3vw;
    height: 3vw;
    border: none;
    transition: 0.3s;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25)) invert(100%);
    fill: white;
    z-index: 1000;
}

#backButton:hover {
    transform: translateY(-3px);
}

#export {
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    background-color: #1c373a;
    border-radius: 50%;
    /*padding: 1vw 2.5vw;*/
    width: 3vw;
    height: 3vw;
    border: none;
    transition: 0.3s;
    /*filter: drop-shadow( 0 0 10px rgba(255, 255, 255, 0.25)) invert(100%);*/
    fill: white;
    z-index: 1000;
}

#export:hover {
    transform: translateY(-3px);
}

ol {
    /*    centered*/
    display: grid;
    grid-template-columns: repeat(7, 13.5%);
    /*display: flex;*/
    /*inline*/
    justify-content: center;
    align-items: center;
    /*flex: max-content 7;*/

    margin: 0;
    padding: 0;
    gap: 1vh;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
li{
    list-style-type: none;
    margin: 0;

    border-radius: 10px;
    padding: 1vw 2.5vw;
    transition: 0.3s;
    /*height: 50%;*/
    font-size: 2vh;
    font-family: Inter, sans-serif;
    /*    capitalize first char*/
    text-transform: capitalize;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    cursor: pointer;
    overflow-wrap: break-word;
    height: max-content;

/*    hide scrollbar*/
    scrollbar-width: none;
}

li::selection{
    background-color: transparent;
    color: white;
}
li::-webkit-scrollbar {
    display: none;
}
.termItem{
    background-color: #1c373a;
    color: white;

}

li:hover{
    /*background-color: white;*/
    /*color: #1c373a;*/
    transform: translateY(-3px);
}

.defItem{
    background-color: #009000;
    /*color: #0c1719;*/

}

h2{
/*    centered and titan one font with white color*/
    color: #FFFAFA;
    font-size: 6vh;
    font-weight: bold;
    margin-bottom: 5vh;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", cursive;
    transition: 0.3s;
    text-overflow: ellipsis;
}

@keyframes flipTerm {
/*    make a flip animation by scaling down the X axis and scaling it back up*/
    0% {
        transform: scaleX(1) translateY(-3px);
    }
    50% {
        transform: scaleX(0) translateY(-3px)
    }
    100% {
        transform: scaleX(1) translateY(-3px);
    }

}